name: Publish to Nuget.org
on:
  push:
    tags:
      - '*'

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_INSTALL_DIR: "./.dotnet"
  
permissions:
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: '0'
          
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x.x
            9.x.x
            10.x.x
          
      - name: Build & Test
        run: |
          dotnet restore
          dotnet build --configuration Release /p:Version=${{ github.ref_name }}  /p:FileVersion=${{ github.ref_name }} --no-restore
          dotnet test  --configuration Release --no-build --collect:"XPlat Code Coverage"
          
      - name: Pack NuGet package
        run: dotnet pack --configuration Release --no-build -o ./nupkg /p:Version=${{ github.ref_name }} 
          
      - name: Upload NuGet artifacts
        uses: actions/upload-artifact@v6
        with:
          name: nuget-packages
          path: ./nupkg/*

      - name: Push .nupkg to NuGet.org
        run: dotnet nuget push ./nupkg/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate

      - name: Push .snupkg to NuGet.org
        run: dotnet nuget push ./nupkg/*.snupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate || true
          
    
